<section class="pb-4">
  <div class="grid grid-rows-2 md:grid-cols-4 gap-4">
    <div class="row-span-2 md:col-span-1 flex items-center justify-center">
      <img id="profile-pic" class="rounded-full" src="../../assets/profile_pic.jpg" />
    </div>
    <div class="row-span-2 md:col-span-3">
      <h1 class="text-lg font-semibold text-orange">About Me</h1>
      <h2 class="text-base font-normal mb-2">
        Hi there! I'm Manuel Bojato, software developer and open source lover from Colombia
        <svg class="inline h-4 w-4" xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-co" viewBox="0 0 640 480">
          <g fill-rule="evenodd" stroke-width="1pt">
            <path fill="#ffe800" d="M0 0h640v480H0z"/>
            <path fill="#00148e" d="M0 240h640v240H0z"/>
            <path fill="#da0010" d="M0 360h640v120H0z"/>
          </g>
        </svg>
      </h2>
      <h2 class="text-base font-normal mb-2">
        Although being devoted to programming, I am a Mechanical and Electronics
        engineer from the Universidad del Norte in Barranquilla, Colombia. In
        spite of that, I also love history, astronomy, geography, a little bit
        of vexilology, videogames (mostly RTS / FPS) and robotics, being the
        latter my long term goal.
      </h2>
    </div>
  </div>
</section>
<section>
  <h2 class="text-base font-normal mb-2">
    I started in the programming world by pursuing a hobby of modifying
    real-time strategy (RTS) games in order to gain knowledge for a career as a
    video game developer. I spent a few years collaborating for an Age of
    Empires III mod adding new nations and 3D models (yes, I also tried doing
    some modeling) then I left it because I started studying at the university.
  </h2>
  <h2 class="text-base font-normal mb-2">
    I had the opportunity to do some robotics at the end of my college career,
    participating in a sumo robot competition (which I didn't win) and
    programming a Hexapod robot to avoid obstacles using an Arduino Mega, whose
    source code for movements (and other stuff) is available at <a class="text-orange"
    href="https://github.com/KingDarBoja/HexapodPF">this repo.</a>
  </h2>
</section>
<section class="py-4">
  <h1 class="text-lg font-semibold text-orange">About my professional experience</h1>
  <h2 class="text-base font-normal mb-2">
    Been a software developer for almost two years, mainly in the area of
    web development, both in FrontEnd and BackEnd. Half of that time I've worked
    in the office and the other half remotely (which I prefer).
  </h2>
  <h2 class="text-base font-normal mb-2">
    <i>TBD: More about experience and "portfolio"</i>
  </h2>
</section>
<section class="py-4">
  <h1 class="text-lg font-semibold text-orange">About this site</h1>
  <h2 class="text-base font-normal mb-2">
    I decided to make my own site in order to publish blogs on the technologies
    I use both at work and in my free time as well as to talk a little bit about
    myself in a more informal way &hellip;
  </h2>
  <h2 class="text-base font-normal mb-2">
    As you already guessed, you will find blogs on various programming
    tecnologies and tools in order to enlight others with my grateful experience
    <s>and suffering when facing some weird bugs on dev</s> and also put some
    journey notes on my on-going learning path of new trends <i>cough</i> Nim
    <i>cough</i>.
  </h2>
  <h2 class="text-base font-normal mb-2">
    This blog will be separated by tech so you can quickly filter based on your
    taste and if looking to hire an awesome dev for you team, do not hesitate to
    reach me out.
  </h2>
</section>
