<section class="pb-4">
  <h2 class="text-base font-normal">
    With few years of experience, I have looked for the way to contribute to
    different projects in several programming languages, especially those of
    daily use. Most of them are developed in TypeScript and Python, although I
    also have some contributions in Scala, Dart and pure JavaScript. My current
    focus is on learning the programming language Nim to develop some web
    development libraries and in the future to apply it to robotics.
  </h2>
</section>
<section class="py-4">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <ng-container *ngFor="let project of projects">
      <div class="card-wrapper">
        <div class="card-side">
          <div class="flex h-full justify-center items-center">
            <img [src]="project.lang_icon" [alt]="project.lang_label">
          </div>
        </div>
        <div class="card-body">
          <div class="mb-8">
            <a class="text-oxford-dark font-bold text-base mb-2" [href]="project.gh_url">{{ project.title }}</a>
            <p class="text-oxford text-sm">{{ project.body }}</p>
          </div>
          <div class="flex items-center">
            <div class="text-xs">
              <a class="text-oxford-dark font-bold leading-none pb-1" [href]="project.lang_url">{{ project.extra_note }}</a>
              <p class="text-oxford font-semibold">{{ project.active_date }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
