<section class="pb-4">
  <h2 class="text-base font-normal">
    With few years of experience, I have looked for the way to contribute to
    different projects in several programming languages, especially those of
    daily use. Most of them are developed in TypeScript and Python, although I
    also have some contributions in Scala, Dart and pure JavaScript. My current
    focus is on learning the programming language Nim to develop some web
    development libraries and in the future to apply it to robotics.
  </h2>
</section>
<section class="py-4">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="mx-auto max-w-sm w-full md:max-w-full md:flex content-center">
      <div class="bg-oxford-dark h-48 md:h-auto md:w-48 flex-none rounded-t-lg md:rounded-t-none md:rounded-l-lg overflow-hidden">
        <div class="flex h-full justify-center items-center">
          <img src="../../assets/icons/file_type_typescript_official.svg" alt="TypeScript">
        </div>
      </div>
      <div class="bg-platinum border-r border-b border-l border-oxford-dark md:border-l-0 md:border-t md:border-oxford-dark bg-white rounded-b-lg md:rounded-b-none md:rounded-r-lg p-4 flex flex-col justify-between leading-normal">
        <div class="mb-8">
          <a class="text-oxford-dark font-bold text-xl mb-2" href="">Some Long Project Title</a>
          <p class="text-oxford text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
        </div>
        <div class="flex items-center">
          <div class="text-sm">
            <p class="text-oxford-dark font-bold leading-none pb-1" href="">Made with TypeScript</p>
            <p class="text-oxford font-semibold">Aug 18</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
