html {
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%; 
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; 
  height: 0; 
  overflow: visible; 
}

a {
  background-color: transparent;
}

code {
  font-family: monospace, monospace; 
  font-size: 1em; 
}

img {
  border-style: none;
}

input {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; 
}

input { 
  overflow: visible;
}

[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; 
  padding: 0; 
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; 
  outline-offset: -2px; 
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; 
  font: inherit; 
}

[hidden] {
  display: none;
}

h1,
h2,
h3,
hr,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
  line-height: 1.5; 
}

*,
::before,
::after {
  box-sizing: border-box; 
  border-width: 0; 
  border-style: solid; 
  border-color: currentColor; 
}

hr {
  border-top-width: 1px;
}

img {
  border-style: solid;
}

input::placeholder {
  color: #a0aec0;
}

[role="button"] {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

code {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

img,
svg {
  display: block;
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

.card-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 24rem;
  width: 100%;
  align-content: center;
}

.card-wrapper .card-side {
  --bg-opacity: 1;
  background-color: #00132D;
  background-color: rgba(0, 19, 45, var(--bg-opacity));
  height: 12rem;
  flex: none;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
}

.card-wrapper .card-body {
  --bg-opacity: 1;
  background-color: #E5E5E5;
  background-color: rgba(229, 229, 229, var(--bg-opacity));
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  --border-opacity: 1;
  border-color: #00132D;
  border-color: rgba(0, 19, 45, var(--border-opacity));
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .card-wrapper {
    display: flex;
    max-width: 100%;
  }

  .card-wrapper .card-side {
    height: auto;
    width: 12rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .card-wrapper .card-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    --border-opacity: 1;
    border-color: #00132D;
    border-color: rgba(0, 19, 45, var(--border-opacity));
    border-left-width: 0;
    border-top-width: 1px;
  }
}

.bg-oxford {
  --bg-opacity: 1;
  background-color: #14213D;
  background-color: rgba(20, 33, 61, var(--bg-opacity));
}

.bg-oxford-dark {
  --bg-opacity: 1;
  background-color: #00132D;
  background-color: rgba(0, 19, 45, var(--bg-opacity));
}

.border-transparent {
  border-color: transparent;
}

.hover\:border-orange:hover {
  --border-opacity: 1;
  border-color: #FCA311;
  border-color: rgba(252, 163, 17, var(--border-opacity));
}

.rounded-full {
  border-radius: 9999px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.cursor-pointer {
  cursor: pointer;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-grow {
  flex-grow: 1;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.h-4 {
  height: 1rem;
}

.h-8 {
  height: 2rem;
}

.h-full {
  height: 100%;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.leading-none {
  line-height: 1;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.min-h-screen {
  min-height: 100vh;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.static {
  position: static;
}

.text-oxford {
  --text-opacity: 1;
  color: #14213D;
  color: rgba(20, 33, 61, var(--text-opacity));
}

.text-oxford-dark {
  --text-opacity: 1;
  color: #00132D;
  color: rgba(0, 19, 45, var(--text-opacity));
}

.text-orange {
  --text-opacity: 1;
  color: #FCA311;
  color: rgba(252, 163, 17, var(--text-opacity));
}

.text-platinum {
  --text-opacity: 1;
  color: #E5E5E5;
  color: rgba(229, 229, 229, var(--text-opacity));
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w-4 {
  width: 1rem;
}

.w-8 {
  width: 2rem;
}

.w-full {
  width: 100%;
}

.gap-4 {
  grid-gap: 1rem;
  gap: 1rem;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@media (min-width: 768px) {

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:p-4 {
    padding: 1rem;
  }

  .lg\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .lg\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .lg\:w-auto {
    width: auto;
  }
}